{{> partials/header data.carousel-fit}}

<h3>Purpose</h3>

<p>The <code>bootstrap-carousel-fit.js</code> and <code>bootstrap-carousel-fit.css</code> package center the carousel slides and fit their captions according to the image width.</p>

<p>The caption effects are controlled by CSS with 3 possible cases you can set by choosing the element class :</p>
<ol>
	<li>display caption when active : <code>.carousel-caption-active</code></li>
	<li>display caption on hover : <code>.carousel-caption-hover</code></li>
	<li>hide caption on hover : <code>.carousel-caption-hide</code></li>
</ol>

<hr />

<h3>Demo</h3>
<p>
	<button id="myButtonCaptionHover" type="button" class="btn btn-success">
		<span>Caption on hover</span>
	</button>
	<button id="myButtonCaptionActive" type="button" class="btn btn-info">
		<span>Caption on active</span>
	</button>
	<button id="myButtonCaptionHide" type="button" class="btn btn-info">
		<span>Hide caption on hover</span>
	</button>
	<button id="myButtonCaptionNone" type="button" class="btn btn-info">
		<span>No effect</span>
	</button>
</p>

<div id="myCarousel" class="carousel slide carousel-fit carousel-caption-hover">
	<!-- Carousel items -->
	<div class="carousel-inner"></div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<hr />

<h3>Code</h3>
<ol>
	<li>Add the class name <code>.carousel-fit</code> to the carousel element to have the caption fitted.</li>
	<li>You can also add one of the three class names <code>.carousel-caption-active</code>, <code>.carousel-caption-hover</code> or <code>.carousel-caption-hide</code> to the carousel element to add some effects to the captions.</li>
</ol>

<pre class="prettyprint linenums">&lt;div id=&quot;myCarousel&quot; class=&quot;carousel slide carousel-fit carousel-caption-hover&quot;&gt;
	&lt;!-- Carousel items --&gt;
	&lt;div class=&quot;carousel-inner&quot;&gt;&lt;/div&gt;
	&lt;!-- Carousel nav --&gt;
	&lt;a class=&quot;carousel-control left&quot; href=&quot;#myCarousel&quot; data-slide=&quot;prev&quot;&gt;&amp;lsaquo;&lt;/a&gt;
	&lt;a class=&quot;carousel-control right&quot; href=&quot;#myCarousel&quot; data-slide=&quot;next&quot;&gt;&amp;rsaquo;&lt;/a&gt;
&lt;/div&gt;</pre>

<hr />

<h3>CSS</h3>
<pre class="prettyprint linenums">&lt;link href=&quot;../components/bootstrap/docs/assets/css/bootstrap.css&quot; rel=&quot;stylesheet&quot; /&gt;
&lt;link href=&quot;../components/bootstrap/docs/assets/css/bootstrap-responsive.css&quot; rel=&quot;stylesheet&quot; /&gt;
&lt;link href=&quot;css/bootstrap-carousel-fit.css&quot; rel=&quot;stylesheet&quot; /&gt;</pre>

<hr />

<h3>JS</h3>
<pre class="prettyprint linenums">&lt;script src=&quot;../components/bootstrap/docs/assets/js/jquery.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;../components/bootstrap/docs/assets/js/bootstrap.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/bootstrap-carousel-fit.js&quot;&gt;&lt;/script&gt;</pre>

{{> partials/footer data.carousel-fit}}
