{{> partials/header data.index}}

<p>This set of JavaScript and CSS extensions to Twitter Boostrap was made in order to display a carousel in fullscreen. I decided to extend the libraries step by step by separate the feature I needed, which resulted in the following independent "packages" : </p>
<ol>
	<li>the ability to detach a content to a modal box : <a href="modal-local.html">Modal-local</a></li>
	<li>make a modal into fullscreen mode : <a href="modal-fullscreen.html">Modal-fullscreen</a>
	<li>a carousel which fit itself according to the different images and captions : <a href="carousel-fit.html">Carousel-fit</a></li>
	<li>and one to link them all : <a href="modal-carousel.html">Modal-carousel</a>.</li>
</ol>

<p>Feel free to use them and/or contribute to make them better.<p>

<p>Todo:</p>
<ul>
	<li>Propose a minified package of the JavaScripts and CSS</li>
	<li>A lazy loader for images</li>
	<li>Surely many things...</li>
</ul>

{{> partials/footer data.index}}
