{{> partials/header data.modal-carousel}}

<h3>Purpose</h3>

<p>The <code>bootstrap-modal-carousel.js</code> library is made to display a carousel in a fullscreen modal box. The slides fit automatically.</p>

<p>The script depends on <code>bootstrap-modal-fullscreen</code>, <code>bootstrap-modal-local</code> and <code>bootstrap-carousel-fit</code> libraries.</p>
<hr />

<h3>Demo</h3>
<p>
	<button id="myButtonFullscreen" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" data-local="#myCarousel">
		<i class="icon-fullscreen icon-white"></i>
		<span>View the carousel in fullscreen</span>
	</button>
	<button id="myButtonModal" type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" data-local="#myCarousel">
		<i class="icon-resize-full icon-white"></i>
		<span>View the carousel in a modal box</span>
	</button>
</p>

<div id="myCarousel" class="carousel slide carousel-fit carousel-caption-active" data-modalize="true">
	<!-- Carousel items -->
	<div class="carousel-inner"></div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div id="myModal" class="modal hide fade modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
			<i class="icon-remove icon-white"></i>
			<span>Close</span>
		</button>
	</div>
	<div class="modal-body">
		<p>One fine body…</p>
	</div>
</div>

<hr />

<h3>Code</h3>
<ol>
	<li>Add the class name <code>.modal-fullscreen</code> to the modal element to display it in fullscreen.</li>
	<li>Add the attribute <code>data-modalize="true"</code> to the carousel element to add some features with fullscreen.</li>
	<li>Add the class name <code>.carousel-fit</code> to the carousel element to have the caption fitted.</li>
	<li>You can also add one of the three class names <code>.carousel-caption-active</code>, <code>.carousel-caption-hover</code> or <code>.carousel-caption-hide</code> to the carousel element to add some effects to the captions.</li>
</ol>

<pre class="prettyprint linenums">&lt;div id=&quot;myCarousel&quot; class=&quot;carousel slide carousel-fit carousel-caption-active&quot;  data-modalize=&quot;true&quot;&gt;
	&lt;!-- Carousel items --&gt;
	&lt;div class=&quot;carousel-inner&quot;&gt;&lt;/div&gt;
	&lt;!-- Carousel nav --&gt;
	&lt;a class=&quot;carousel-control left&quot; href=&quot;#myCarousel&quot; data-slide=&quot;prev&quot;&gt;&amp;lsaquo;&lt;/a&gt;
	&lt;a class=&quot;carousel-control right&quot; href=&quot;#myCarousel&quot; data-slide=&quot;next&quot;&gt;&amp;rsaquo;&lt;/a&gt;
&lt;/div&gt;

&lt;div id=&quot;myModal&quot; class=&quot;modal hide fade modal-fullscreen&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel&quot; aria-hidden=&quot;true&quot;&gt;
	&lt;div class=&quot;modal-header&quot;&gt;
		&lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot; data-dismiss=&quot;modal&quot; aria-hidden=&quot;true&quot;&gt;
			&lt;i class=&quot;icon-remove icon-white&quot;&gt;&lt;/i&gt;
			&lt;span&gt;Close&lt;/span&gt;
		&lt;/button&gt;
	&lt;/div&gt;
	&lt;div class=&quot;modal-body&quot;&gt;
		&lt;p&gt;One fine body&hellip;&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</pre>

<hr />

<h3>CSS</h3>
<pre class="prettyprint linenums">&lt;link href=&quot;../components/bootstrap/docs/assets/css/bootstrap.css&quot; rel=&quot;stylesheet&quot; /&gt;
&lt;link href=&quot;../components/bootstrap/docs/assets/css/bootstrap-responsive.css&quot; rel=&quot;stylesheet&quot; /&gt;
&lt;link href=&quot;css/bootstrap-carousel-fullscreen.css&quot; rel=&quot;stylesheet&quot; /&gt;
&lt;link href=&quot;css/bootstrap-carousel-fit.css&quot; rel=&quot;stylesheet&quot; /&gt;</pre>

<hr />

<h3>JS</h3>
<pre class="prettyprint linenums">&lt;script src=&quot;../components/bootstrap/docs/assets/js/jquery.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;../components/bootstrap/docs/assets/js/bootstrap.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/bootstrap-carousel-fit.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/bootstrap-modal-carousel.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/bootstrap-modal-fullscreen.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/bootstrap-modal-local.js&quot;&gt;&lt;/script&gt;</pre>

{{> partials/footer data.modal-carousel}}
