{{> partials/header data.modal-local}}

<h3>Purpose</h3>
<p>The <code>bootstrap-modal-local.js</code> library let you show in a modal box a part of content of your page.</p>

<hr />

<h3>Demo</h3>
<p>
	<button id="myButton" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" data-local="#myContent">
		<i class="icon-resize-full icon-white"></i>
		<span>View the following content in modal</span>
	</button>
</p>

<div id="myContent"></div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Modal header</h3>
	</div>
	<div class="modal-body">
		<p>One fine body…</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>

<hr />

<h3>Code</h3>
<p>Add the attribute <code>data-local="#myContent"</code> to the button and it will detach the content of the <code>#myContent</code> element to <code>#myModal</code>.</p>

<pre class="prettyprint linenums">&lt;button id=&quot;myButton&quot; type=&quot;button&quot; class=&quot;btn btn-success&quot; data-toggle=&quot;modal&quot; data-target=&quot;#myModal&quot; data-local=&quot;#myContent&quot;&gt;
	&lt;i class=&quot;icon-resize-full icon-white&quot;&gt;&lt;/i&gt;
	&lt;span&gt;View the following content in modal&lt;/span&gt;
&lt;/button&gt;

&lt;div id=&quot;myContent&quot;&gt;&lt;/div&gt;

&lt;div id=&quot;myModal&quot; class=&quot;modal hide fade&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;myModalLabel&quot; aria-hidden=&quot;true&quot;&gt;
	&lt;div class=&quot;modal-header&quot;&gt;
		&lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/button&gt;
		&lt;h3&gt;Modal header&lt;/h3&gt;
	&lt;/div&gt;
	&lt;div class=&quot;modal-body&quot;&gt;
		&lt;p&gt;One fine body&hellip;&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;modal-footer&quot;&gt;
		&lt;a href=&quot;#&quot; class=&quot;btn&quot; data-dismiss=&quot;modal&quot;&gt;Close&lt;/a&gt;
	&lt;/div&gt;
&lt;/div&gt;</pre>

<hr />

<h3>JS</h3>
<pre class="prettyprint linenums">&lt;script src=&quot;../components/bootstrap/docs/assets/js/jquery.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;../components/bootstrap/docs/assets/js/bootstrap.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;js/bootstrap-modal-local.js&quot;&gt;&lt;/script&gt;</pre>

{{> partials/footer data.modal-local}}
